{% extends 'base.html.twig' %}

{% block title %}
	Inscription | Electro-Mutifix
{% endblock %}

{% block body %}

	<div class="page-header parallaxie">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="page-header-box">
						<h1 class="text-anime">Inscription</h1>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="contact-inquiry-box mb-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="section-title">
						<h3 class="wow fadeInUp">Inscrivez-vous c'est Gratuit.</h3>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12 col-md-2"></div>
				<div class="col-md-8">
					{% for type, messages in app.flashes %}
						{% for message in messages %}
							<div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
								{{ message }}
								<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							</div>
						{% endfor %}
					{% endfor %}
					<div class="card mt-2 p-2" data-wow-delay="0.75s">
						<div class="card-body">
							{{form_start(form)}}
							<div class="row">
								<div class="col-md-6 mb-4">
									{{form_row(form.nom)}}
								</div>

								<div class="col-md-6 mb-4">
									{{form_row(form.email)}}
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 mb-4">
									{{form_row(form.password)}}
								</div>

								<div class=" col-md-6 mb-4">
									{{form_row(form.phone)}}
								</div>
							</div>
							<div class="row">
								<div class=" col-md-12 mb-4">
									{{form_row(form.adresse)}}
								</div>
							</div>

							<div class="row">
								<div class="col-md-12 text-center">
									<input type="submit" class="btn-default" value="S'inscrire">
								</div>
							</div>

							{{form_end(form)}}


						</div>
					</div>
				</div>
				<div class="col-12 col-md-2"></div>
			</div>
		</div>
	</div>

{% endblock %}
